<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->

<head>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<meta name="description" content="Name of your web site">
<meta name="author" content="Marketify">

<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<link rel="icon" href="{{url_for('static', filename='img/icon.png')}}">

<title>ProstCheck</title>

<!-- STYLES -->
<link href="https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/plugins.css')}}" />
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/dark.css')}}" />
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/style.css')}}" />
<!--<link rel="stylesheet" type="text/css" href="css/dark.css" />-->
<!--[if lt IE 9]> <script type="text/javascript" src="js/modernizr.custom.js"></script> <![endif]-->
<!-- /STYLES -->

</head>

<body> 
	
	<!-- PRELOADER -->
	<div id="preloader">
		<div class="loader_line"></div>
	</div>
	<!-- /PRELOADER -->
	
<!-- WRAPPER ALL -->
<!--<div class="iknow_tm_all_wrap" data-magic-cursor="show" data-animation-in="rotateInDownLeft" data-animation-out="rotateOutDownLeft"> -->
<div class="iknow_tm_all_wrap" data-magic-cursor="show" data-animation-in="zoomIn" data-animation-out="zoomOut">
<!-- If you want disable magic cursor change value to "hide" -->	
	
	<!-- MODALBOX -->
	<div class="iknow_tm_modalbox">
		<div class="box_inner">
			<div class="close">
				<a href="#"><img class="svg" src="{{url_for('static', filename='img/svg/cancel.svg')}}" alt="" /></a>
			</div>
			<div class="description_wrap"></div>
		</div>
	</div>
	<!-- /MODALBOX -->
	
	<div class="iknow_tm_extra_demo">
	
		<span class="top_shape"></span>
		
	
		<div class="background_part">
			<!-- Hero Shapes -->
			<div class="rounded_shapes">
				<span class="one anim_circle"><img class="svg" src="{{url_for('static',filename='img/svg/shapes/11.svg')}}" alt="" /></span>
				<span class="two anim_scale2"><img class="svg" src="{{url_for('static', filename='img/svg/shapes/10.svg')}}" alt="" /></span>
				<span class="three anim_scale2"><img class="svg" src="{{url_for('static',filename='img/svg/shapes/6.svg')}}" alt="" /></span>
				<span class="four anim_scale2"><img class="svg" src="{{url_for('static',filename='img/svg/shapes/6.svg')}}" alt="" /></span>
				<span class="five anim_circle"><img class="svg" src="{{url_for('static',filename='img/svg/shapes/11.svg')}}" alt="" /></span>
				<span class="six anim_scale2"><img class="svg" src="{{url_for('static', filename='img/svg/shapes/10.svg')}}" alt="" /></span>
				<span class="seven anim_scale2"><img class="svg" src="{{url_for('static',filename='img/svg/shapes/6.svg')}}" alt="" /></span>
				<span class="eight anim_scale2"><img class="svg" src="{{url_for('static', filename='img/svg/shapes/10.svg')}}" alt="" /></span>
				<span class="nine anim_scale2"><img class="svg" src="{{url_for('static',filename='img/svg/shapes/6.svg')}}" alt="" /></span>
				<span class="ten anim_scale2"><img class="svg" src="{{url_for('static', filename='img/svg/shapes/10.svg')}}" alt="" /></span>
				<span class="eleven anim_circle"><img class="svg" src="{{url_for('static',filename='img/svg/shapes/11.svg')}}" alt="" /></span>
				<span class="twelve anim_circle"><img class="svg" src="{{url_for('static',filename='img/svg/shapes/11.svg')}}" alt="" /></span>
				<span class="thirteen anim_scale2"><img class="svg" src="{{url_for('static',filename='img/svg/shapes/6.svg')}}" alt="" /></span>
				<span class="fourteen anim_circle"><img class="svg" src="{{url_for('static',filename='img/svg/shapes/11.svg')}}" alt="" /></span>
				<span class="fifteen anim_scale2"><img class="svg" src="{{url_for('static',filename='img/svg/shapes/6.svg')}}" alt="" /></span>
				<span class="sixteen anim_scale2"><img class="svg" src="{{url_for('static', filename='img/svg/shapes/10.svg')}}" alt="" /></span>
				<span class="seventeen anim_scale2"><img class="svg" src="{{url_for('static', filename='img/svg/shapes/10.svg')}}" alt="" /></span>
				<span class="eighteen anim_scale2"><img class="svg" src="{{url_for('static', filename='img/svg/shapes/10.svg')}}" alt="" /></span>
			</div>
			<!-- /Hero Shapes -->
		</div>
			
		
	
		
		<!-- TOPBAR -->
		<div class="iknow_tm_topbar onepage">
			<div class="topbar_inner">
				<div class="logo">
					<a href="#"><img src="{{url_for('static', filename='img/logoo.png')}}" alt="" /></a>
				</div>
				<div class="right">
					<div class="social">
						<ul></ul>
					</div>
				</div>
			</div>
		</div>
		<!-- /TOPBAR -->
		
		<!-- MOBILE MENU -->
		<div class="iknow_tm_mobile_menu">
			<div class="mobile_menu_inner">
				<div class="mobile_in">
					<div class="logo">
						<a href="#"><img src="{{url_for('static', filename='img/logoo.png')}}" alt="" /></a>
					</div>
					<div class="trigger">
						<div class="hamburger hamburger--slider">
							<div class="hamburger-box">
								<div class="hamburger-inner"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="dropdown">
				<div class="dropdown_inner">
					<ul class="anchor_nav">
						<li class="current"><a href="#home">Home</a></li>
						<li><a href="#contact">Diganosa</a></li>
					</ul>
				</div>
			</div>
		</div>
		<!-- /MOBILE MENU -->
		
		<!-- SIDEBAR -->
		<div class="iknow_tm_sidebar_3">
			<div class="inner">
				<div class="image">
					<div class="main" data-img-url="{{url_for('static', filename='img/prost.webp')}}"></div>
				</div>
				<div class="menu scrollable">
					<ul class="anchor_nav">
						<li class="current">
							<img class="svg" src="{{url_for('static', filename='img/svg/squares.svg')}}" alt="" />
							<span>Home</span>
							<a class="iknow_tm_full_link" href="index.html"></a>
						</li>
						<li>
							<img class="svg" src="{{url_for('static', filename='img/svg/letter.svg')}}" alt="" />
							<span>Hasil Diagnosa</span>
							<a class="iknow_tm_full_link" href="#"></a>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<!-- /SIDEBAR -->
		
		<!-- MAINPART -->
		
		<div class="iknow_tm_content_wrapper">


			<!-- RESUME -->
			<div class="iknow_tm_animate_section animated" id="home">
				<div class="section_inner">
					<div class="iknow_tm_resume">
						<div class="iknow_tm_main_title">
							<span></span>
							<h3>Pasien Mengalami Kanker Prostat
								<span>{{diagnosis}} </span>
								<span style="border-bottom: 2px solid {{ 'rgb(172, 58, 58)' if diagnosis == 1 else 'rgb(58, 172, 58)' }}; font-size: inherit; color: {{ 'rgb(172, 58, 58)' if diagnosis == 1 else 'rgb(58, 172, 58)' }};">
									{{ 'Jahat (M)' if diagnosis == 1 else 'Jinak (B)' }}
								</span>
							</h3>
							
							<!-- <h3>Pasien Mengalami Kanker Prostat
								<span style="border-bottom: 2px solid rgb(172, 58, 58); font-size: inherit; color: rgb(172, 58, 58);">Ganas (M)</span>
							</h3> -->
						</div>
						
						<div class="resume_inner">
							<div class="left">
								<div class="info_list">
									<div class="iknow_tm_resume_title">
										<h3>Biodata Pasien</h3>
										<span class="shape"></span>
									</div>
									<ul>
										<li>
											<div class="list_inner">
												<div class="short">
													<div class="job">
														<h3>Nama:</h3>
														<span>{{nama}}</span>
													</div>
												</div>
											</div>
										</li>
										<li>
											<div class="list_inner">
												<div class="short">
													<div class="job">
														<h3>Usia:</h3>
														<span>{{umur}}</span>
													</div>
												</div>
											</div>
										</li>
										<li>
											<div class="list_inner">
												<div class="short">
													<div class="job">
														<h3>Berat Badan:</h3>
														<span>{{berat_badan}}</span>
													</div>
												</div>
											</div>
										</li>
										<li>
											<div class="list_inner">
												<div class="short">
													<div class="job">
														<h3>Tinggi Badan:</h3>
														<span>{{tinggi_badan}}</span>
													</div>
												</div>
											</div>
										</li>
									</ul>
								</div>
							</div>

							<div class="right">
								<div class="info_list">
									<div class="iknow_tm_resume_title">
										<h3>Data Kesehatan</h3>
										<span class="shape"></span>
									</div>
									<ul>
										<li>
											<div class="list_inner">
												<div class="short">
													<div class="job">
														<h3>Lingkar Radius:</h3>
														<span>{{radius}}</span>
													</div>
												</div>
											</div>
										</li>
										<li>
											<div class="list_inner">
												<div class="short">
													<div class="job">
														<h3>Tekstur:</h3>
														<span>{{texture}}</span>
													</div>
												</div>
											</div>
										</li>
										<li>
											<div class="list_inner">
												<div class="short">
													<div class="job">
														<h3>Perimeter:</h3>
														<span>{{perimeter}}</span>
													</div>
												</div>
											</div>
										</li>
										<li>
											<div class="list_inner">
												<div class="short">
													<div class="job">
														<h3>Luas Area:</h3>
														<span>{{area}}</span>
													</div>
												</div>
											</div>
										</li>
										<li>
											<div class="list_inner">
												<div class="short">
													<div class="job">
														<h3>Kelembutan:</h3>
														<span>{{smoothness}}</span>
													</div>
												</div>
											</div>
										</li>
										<li>
											<div class="list_inner">
												<div class="short">
													<div class="job">
														<h3>Kepadatan:</h3>
														<span>{{compactness}}</span>
													</div>
												</div>
											</div>
										</li>
										<li>
											<div class="list_inner">
												<div class="short">
													<div class="job">
														<h3>Simetri:</h3>
														<span>{{symmetry}}</span>
													</div>
												</div>
											</div>
										</li>
										<li>
											<div class="list_inner">
												<div class="short">
													<div class="job">
														<h3>Dimensi Fraktal:</h3>
														<span>{{fractal_dimension}}</span>
													</div>
												</div>
											</div>
										</li>
									</ul>
									<div class="iknow_tm_button" style="margin-left: 250px; margin-top: 20px;">
										<a href="/">Kembali</a>
									</div>
								</div>
							</div>
							

						</div>
					</div>
				</div>
			</div>
			<!-- /RESUME -->
			
			
			
			<!-- COPYRIGHT -->
			<div class="iknow_tm_copyright onepage extra">
				<div class="inner">
					<div class="left">
						<p><a href="https://themeforest.net/user/marketify" target="_blank"></a></p>
					</div>
					<div class="right">
						<ul>
							<li><a href="#"></a></li>
							<li><a href="#"></a></li>
							<li><a href="#"></a></li>
						</ul>
					</div>
				</div>
			</div>
			<span class="bottom_shape"></span>
			<!-- /COPYRIGHT -->
			
		</div>
		
		<!-- /MAINPART -->
		
	</div>
	
	<!-- MAGIC CURSOR -->
	<div class="mouse-cursor cursor-outer"></div>
	<div class="mouse-cursor cursor-inner"></div>
	<!-- /MAGIC CURSOR -->
		
</div>
<!-- / WRAPPER ALL -->
	
<script src="{{url_for('static', filename='js/jquery.js')}}"></script>
<!--[if lt IE 10]> <script type="text/javascript" src="js/ie8.js"></script> <![endif]-->	
<script src="{{url_for('static',filename='js/plugins.js')}}"></script>
<script src="{{url_for('static',filename='js/init.js')}}"></script>
<!-- /SCRIPTS -->

</body>
</html>